   /* Footer.scss */
.footer-section {
  background-image: url('https://html.ditsolution.net/cyber-it/assets/images/footer/footer-bg.png');
  background-size: cover;
  background-position: center;
}
.footer-logo {
  width: 90px;
  height: 60px;
  object-fit: contain; 
}